USE [master]
GO
/****** Объект:  Database [Современный облачные сервисы]    Дата создания скрипта: 05.06.2026 12:29:53 ******/ 
CREATE DATABASE [Современный облачные сервисы]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Современный облачные сервисы', FILENAME = N'C:\Users\Павел Чураков\Современный облачные сервисы.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Современный облачные сервисы_log', FILENAME = N'C:\Users\Павел Чураков\Современный облачные сервисы_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Современный облачные сервисы].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Современный облачные сервисы]
GO
/****** Объект:  Table [dbo].[Comments]    Дата создания скрипта: 05.06.2026 12:29:53 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[LessonID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[CommentText] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ContactRequests]    Дата создания скрипта: 05.06.2026 12:29:53 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MessageText] [nvarchar](max) NOT NULL,
	[SubmittedAt] [datetime] NULL,
	[IsResolved] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Courses]    Дата создания скрипта: 05.06.2026 12:29:53 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Duration] [nvarchar](50) NULL,
	[TargetAudience] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Enrollments]    Дата создания скрипта: 05.06.2026 12:29:53 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[EnrollmentDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Lessons]    Дата создания скрипта: 05.06.2026 12:29:53 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[VideoUrl] [nvarchar](255) NOT NULL,
	[OrderNumber] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Roles]    Дата создания скрипта: 05.06.2026 12:29:53 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 05.06.2026 12:29:53 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentID], [LessonID], [UserID], [CommentText], [CreatedAt]) VALUES (1, 1, 2, N'Отличное введение, спасибо!', CAST(N'2026-06-05T12:24:21.820' AS DateTime))
INSERT [dbo].[Comments] ([CommentID], [LessonID], [UserID], [CommentText], [CreatedAt]) VALUES (2, 2, 3, N'Немного запутался с ключами доступа.', CAST(N'2026-06-05T12:24:21.820' AS DateTime))
INSERT [dbo].[Comments] ([CommentID], [LessonID], [UserID], [CommentText], [CreatedAt]) VALUES (3, 3, 5, N'S3 бакеты - это очень удобно.', CAST(N'2026-06-05T12:24:21.820' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactRequests] ON 

INSERT [dbo].[ContactRequests] ([RequestID], [Name], [Email], [MessageText], [SubmittedAt], [IsResolved]) VALUES (1, N'Алекс', N'alex@mail.ru', N'Сколько стоит курс по AWS?', CAST(N'2026-06-05T12:24:21.843' AS DateTime), 1)
INSERT [dbo].[ContactRequests] ([RequestID], [Name], [Email], [MessageText], [SubmittedAt], [IsResolved]) VALUES (2, N'Мария', N'maria@yandex.ru', N'Не могу зайти в личный кабинет.', CAST(N'2026-06-05T12:24:21.843' AS DateTime), 1)
INSERT [dbo].[ContactRequests] ([RequestID], [Name], [Email], [MessageText], [SubmittedAt], [IsResolved]) VALUES (3, N'Иван', N'ivan99@gmail.com', N'Будут ли скидки на черную пятницу?', CAST(N'2026-06-05T12:24:21.843' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ContactRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [Title], [Duration], [TargetAudience], [Description], [CreatedAt]) VALUES (1, N'Введение в AWS', N'1 месяц', N'Для новичков', N'Основы Amazon Web Services.', CAST(N'2026-06-05T12:24:21.760' AS DateTime))
INSERT [dbo].[Courses] ([CourseID], [Title], [Duration], [TargetAudience], [Description], [CreatedAt]) VALUES (2, N'Архитектура Azure', N'2 месяца', N'Для middle', N'Построение решений в Microsoft Azure.', CAST(N'2026-06-05T12:24:21.760' AS DateTime))
INSERT [dbo].[Courses] ([CourseID], [Title], [Duration], [TargetAudience], [Description], [CreatedAt]) VALUES (3, N'Google Cloud с нуля', N'1 месяц', N'Для новичков', N'Базовые сервисы GCP.', CAST(N'2026-06-05T12:24:21.760' AS DateTime))
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([EnrollmentID], [UserID], [CourseID], [EnrollmentDate], [Status]) VALUES (1, 2, 1, CAST(N'2026-06-05T12:24:21.800' AS DateTime), N'Active')
INSERT [dbo].[Enrollments] ([EnrollmentID], [UserID], [CourseID], [EnrollmentDate], [Status]) VALUES (2, 3, 1, CAST(N'2026-06-05T12:24:21.800' AS DateTime), N'Completed')
INSERT [dbo].[Enrollments] ([EnrollmentID], [UserID], [CourseID], [EnrollmentDate], [Status]) VALUES (3, 5, 2, CAST(N'2026-06-05T12:24:21.800' AS DateTime), N'Active')
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

INSERT [dbo].[Lessons] ([LessonID], [CourseID], [Title], [VideoUrl], [OrderNumber]) VALUES (1, 1, N'Что такое AWS?', N'http://video.com/aws/1', 1)
INSERT [dbo].[Lessons] ([LessonID], [CourseID], [Title], [VideoUrl], [OrderNumber]) VALUES (2, 1, N'Создание EC2 инстанса', N'http://video.com/aws/2', 2)
INSERT [dbo].[Lessons] ([LessonID], [CourseID], [Title], [VideoUrl], [OrderNumber]) VALUES (3, 1, N'Настройка S3 бакета', N'http://video.com/aws/3', 3)
SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (19, N'B2B_Partner')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (14, N'Backend_Dev')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [RoleID], [FullName], [Email], [PasswordHash], [CreatedAt]) VALUES (1, 1, N'Иван Иванов', N'ivan@cloud.ru', N'hash1', CAST(N'2026-06-05T12:24:21.740' AS DateTime))
INSERT [dbo].[Users] ([UserID], [RoleID], [FullName], [Email], [PasswordHash], [CreatedAt]) VALUES (2, 2, N'Петр Смирнов', N'petr@mail.ru', N'hash2', CAST(N'2026-06-05T12:24:21.740' AS DateTime))
INSERT [dbo].[Users] ([UserID], [RoleID], [FullName], [Email], [PasswordHash], [CreatedAt]) VALUES (3, 2, N'Анна Кузнецова', N'anna@mail.ru', N'hash3', CAST(N'2026-06-05T12:24:21.740' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Roles__8A2B6160C5E2D9F8]    Дата создания скрипта: 05.06.2026 12:29:54 ******/ 
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Users__A9D105347DE7218A]    Дата создания скрипта: 05.06.2026 12:29:54 ******/ 
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ContactRequests] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[ContactRequests] ADD  DEFAULT ((0)) FOR [IsResolved]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [EnrollmentDate]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Lessons] FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lessons] ([LessonID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Lessons]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Courses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Courses]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Users]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lessons_Courses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_Lessons_Courses]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
